body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F9F3F0;
    color: #422518;
    margin: 0;
    padding: 0;
    text-align: center;  /* Centralizes text by default */
  }
  
  .container {
    padding: 20px;  /* Apply padding to all sides of the container */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #422518;
    text-align: center;  /* Centralize headers */
  }
  
  a {
    color: #7D5037;
    text-decoration: none;
  }
  
  a:hover {
    color: #422518;
  }
  
  button {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #D4A59A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #7D5037;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;